@import "reset.css";
@import "status-bar.css";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.introduction-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.introduction-header__text {
  width: 60%;
  opacity: 0.7;
}
.first-line {
  margin-bottom: 5px;
}
