.title-bar {
  margin: 25px 0px 25px 15px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}
.title-bar__column span {
  font-weight: 600;
}
.title-bar__column i {
  font-size: 25px;
  margin-right: 20px;
}
